/* Estilo do Modo Claro */
body {
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
}

.conteudo-manga img {
    max-width: 100%;
    height: auto;
}

/* Estilo do Modo Escuro */
body.modo-escuro {
    background-color: #121212;
    color: #fff;
}

body.modo-escuro .conteudo-manga img {
    filter: brightness(0.8);
}

.navegacao-manga .botao-manga {
    background: #444;
}

body.modo-escuro .navegacao-manga .botao-manga {
    background: #888;
}

/* Estilo do botão de alternância de modo escuro/claro */
#modo-toggle {
    position: fixed !important;
    top: 10px !important;  /* Ajusta a posição para o cabeçalho */
    right: 10px !important; /* Fixa o botão no canto superior direito */
    z-index: 9999 !important;
    background: none !important;
    border: none !important;
    padding: 0 !important;  /* Remove padding extra */
    margin: 0 !important;   /* Remove margin extra */
    width: 24px !important; /* Define a largura do botão */
    height: 24px !important; /* Define a altura do botão */
}

#modo-toggle img {
    width: 100% !important;
    height: 100% !important;
}

/* Estilo do botão de alternância de modo de leitura */
#leitura-toggle {
    position: fixed !important;
    bottom: 60px !important;  /* Ajusta a posição para um pouco acima do botão de modo escuro/claro */
    right: 20px !important;   /* Fixa o botão no canto inferior direito */
    z-index: 9998 !important;
    background: none !important;
    border: none !important;
    padding: 0 !important;  /* Remove padding extra */
    margin: 0 !important;   /* Remove margin extra */
    width: 24px !important; /* Define a largura do botão */
    height: 24px !important; /* Define a altura do botão */
}

#leitura-toggle img {
    width: 100% !important;
    height: 100% !important;
}

/* Estilos para a página Home */
.grid-titulos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.titulo-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.filtros {
    margin-bottom: 20px;
}

.filtros label {
    margin-right: 10px;
}

.filtros select,
.filtros input {
    margin-right: 20px;
}